.myrailfont{
    font-family: 'Raleway', sans-serif;
}
.bannerimage{
    background-image: url(./asset/image/banner.png);
    height: 550px;
    background-size: cover;
    background-position: center;
    width: 1177px;
}

.radius24 {
    border-radius: 24px;
}


.padding-32 {
    padding: 32px;
}

.radius12 {
    border-radius: 12px;
}

.block {
    height: 56px;
    width: 110px;
    border-radius: 12px;
    background-color: #f7f8f8;
    justify-content: center;
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.fontsize {
    font-size: 20px;
}

.mygap {
    margin-bottom: 50px;
}

.mybgash {
    background-color: #f7f8f8;
}

.click-div {
    width: 200px;
    height: 100px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.2s ease;
}

.click-div:active {
    transform: scale(0.95);
    background-color: #2980b9;
}

.justifycenteer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.justifybetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}


.btnborder {
    border: 1px solid #1DD100;
    padding: 10px 20px;
    color: #1DD100;
    background-color: #1DD10030;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}